/* =========================
   GLOBAL RESET
========================= */

* {
  box-sizing: border-box;
}


html,
body,
#root {

  width: 100%;
  height: 100%;
  margin: 0;

}


body {

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  background: #f8fafc;

  color: #111827;

}


/* =========================
   LINKS
========================= */

a {

  text-decoration: none;
  color: inherit;

}


/* =========================
   AUTH PAGES
========================= */


.auth-page {

  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  background: #f1f5f9;

}



.auth-card {

  width: 400px;

  background: white;

  padding: 35px;

  border-radius: 18px;

  box-shadow:
    0 20px 40px rgba(0, 0, 0, .08);

}



.auth-card h1 {

  text-align: center;

  color: #2563eb;

}



.auth-card input {

  width: 100%;

  padding: 13px;

  margin-bottom: 14px;

  border:

    1px solid #e5e7eb;

  border-radius: 10px;

  font-size: 15px;

}



.auth-card button {

  width: 100%;

  padding: 13px;

  border: none;

  border-radius: 10px;

  background: #2563eb;

  color: white;

  font-size: 16px;

  cursor: pointer;

}



.auth-card button:hover {

  background: #1d4ed8;

}



.error {

  color: #dc2626;

}



/* =========================
   APP LAYOUT
========================= */


.app-layout {

  display: flex;

  min-height: 100vh;

}



.sidebar {

  width: 250px;

  background: #111827;

  color: white;

  padding: 25px 18px;

  display: flex;

  flex-direction: column;

}



.logo {

  font-size: 24px;

  margin-bottom: 35px;

}



.sidebar nav {

  display: flex;

  flex-direction: column;

  gap: 8px;

}



.sidebar a {

  padding: 12px 15px;

  color: #cbd5e1;

  border-radius: 10px;

}



.sidebar a:hover {

  background: #1f2937;

  color: white;

}



.sidebar a.active {

  background: #2563eb;

  color: white;

}



.logout-btn {

  margin-top: auto;

  padding: 12px;

  border: none;

  border-radius: 10px;

  cursor: pointer;

}



/* =========================
   MAIN AREA
========================= */


.main {

  flex: 1;

  display: flex;

  flex-direction: column;

}



.navbar {

  height: 70px;

  background: white;

  border-bottom:

    1px solid #e5e7eb;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 0 30px;

}



.content {

  padding: 30px;

}



/* =========================
   DASHBOARD
========================= */


.dashboard-header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 30px;

}



.dashboard-header h1 {

  font-size: 32px;

  margin: 0;

}



.dashboard-header p {

  color: #64748b;

}



.stats-grid {

  display: grid;

  grid-template-columns:
    repeat(4, 1fr);

  gap: 20px;

  margin-bottom: 30px;

}



.stat-card {

  background: white;

  padding: 25px;

  border-radius: 18px;

  display: flex;

  align-items: center;

  gap: 15px;

  box-shadow:

    0 8px 25px rgba(0, 0, 0, .06);

}



.stat-icon {

  font-size: 32px;

}



.stat-card h2 {

  margin: 0;

  font-size: 30px;

}



.stat-card p {

  margin: 5px 0;

  color: #64748b;

}




.dashboard-grid {

  display: grid;

  grid-template-columns:

    1fr 1fr;

  gap: 25px;

}



.dashboard-panel {

  background: white;

  padding: 25px;

  border-radius: 18px;

  box-shadow:

    0 8px 25px rgba(0, 0, 0, .06);

}



.project-row,
.task-row {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 15px 0;

  border-bottom:

    1px solid #e5e7eb;

}



.project-row h3,
.task-row h3 {

  margin: 0;

  font-size: 16px;

}



/* =========================
   PROJECTS
========================= */


/* =========================
   PROJECT PAGE
========================= */


.projects-page {

  width: 100%;

}

.page-header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 25px;

}

.page-header h1 {

  font-size: 32px;

  margin: 0;

}

.page-header p {

  color: #64748b;

}

.primary-btn {

  background: #2563eb;

  color: white;

  border: none;

  padding: 12px 20px;

  border-radius: 10px;

  cursor: pointer;

  font-size: 15px;

}

.project-toolbar {

  background: white;

  padding: 15px;

  border-radius: 14px;

  margin-bottom: 25px;

}

.project-toolbar input {

  width: 100%;

  border: none;

  outline: none;

  font-size: 15px;

}

.projects-grid {

  display: grid;

  grid-template-columns:

    repeat(auto-fill, minmax(300px, 1fr));

  gap: 25px;

}

.project-card {

  background: white;

  padding: 25px;

  border-radius: 18px;

  box-shadow:

    0 10px 30px rgba(0, 0, 0, .06);

  transition: .2s;

}

.project-card:hover {

  transform: translateY(-5px);

}

.project-top {

  display: flex;

  justify-content: space-between;

  align-items: center;

}

.project-avatar {

  width: 45px;

  height: 45px;

  border-radius: 12px;

  background: #2563eb;

  color: white;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 20px;

  font-weight: bold;

}

.project-status {

  background: #dcfce7;

  color: #15803d;

  padding: 5px 12px;

  border-radius: 20px;

  font-size: 12px;

}

.project-card h2 {

  margin-top: 20px;
  font-size: 20px;

}

.project-description {

  color: #64748b;

  height: 45px;

}

.project-info {

  display: flex;

  gap: 40px;

  margin: 25px 0;

}

.project-info div {

  display: flex;

  flex-direction: column;

  gap: 5px;

}

.project-info span {

  color: #64748b;

}

.project-link {

  color: #2563eb;

  font-weight: 600;

}

/* =========================
 PROJECT DETAIL
========================= */


.project-detail {

  width: 100%;

}



.project-banner {

  background: white;

  padding: 35px;

  border-radius: 20px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, .06);

}



.project-banner h1 {

  font-size: 34px;

  margin: 0 0 10px;

}



.project-banner p {

  color: #64748b;

}



.project-actions {

  display: flex;

  gap: 15px;

  margin: 25px 0;

}



.action-btn {

  background: #2563eb;

  color: white;

  padding: 12px 20px;

  border-radius: 10px;

  border: none;

  cursor: pointer;

}




.project-stats {

  display: grid;

  grid-template-columns:

    repeat(3, 1fr);

  gap: 20px;

  margin-bottom: 30px;

}



.project-stats div {

  background: white;

  padding: 25px;

  border-radius: 18px;

  text-align: center;

  box-shadow:

    0 8px 25px rgba(0, 0, 0, .06);

}



.project-stats h2 {

  font-size: 32px;

  margin: 0;

}



.project-stats p {

  color: #64748b;

}





.project-section {

  background: white;

  padding: 25px;

  border-radius: 18px;

  box-shadow:

    0 8px 25px rgba(0, 0, 0, .06);

}



.activity-item {

  padding: 15px 0;

  border-bottom:

    1px solid #eee;

  color: #475569;

}


/* =========================
   RESPONSIVE
========================= */


@media(max-width:900px) {


  .sidebar {

    width: 80px;

  }


  .stats-grid {

    grid-template-columns:

      repeat(2, 1fr);

  }



  .dashboard-grid {

    grid-template-columns: 1fr;

  }


}



@media(max-width:600px) {


  .stats-grid {

    grid-template-columns: 1fr;

  }


  .content {

    padding: 15px;

  }


}

.tasks-grid {

  display: grid;

  grid-template-columns:
    repeat(auto-fill, minmax(300px, 1fr));

  gap: 20px;

}



.task-card {

  background: white;

  padding: 20px;

  border-radius: 12px;

  box-shadow:
    0 5px 15px rgba(0, 0, 0, .08);

}



.task-card a {

  display: inline-block;

  margin-top: 15px;

  color: #2563eb;

  text-decoration: none;

}

/* =========================
   TASK BOARD
========================= */

.tasks-page {

  width: 100%;

}

.kanban-board {

  display: grid;

  grid-template-columns:

    repeat(3, 1fr);

  gap: 25px;

}

.kanban-column {

  background: #f1f5f9;

  border-radius: 18px;

  padding: 20px;

  min-height: 500px;

}

.kanban-header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 20px;

}

.kanban-header h3 {

  font-size: 15px;

}

.kanban-header span {

  background: white;

  padding: 5px 10px;

  border-radius: 20px;

  color: #64748b;

}

.kanban-card {

  display: block;

  background: white;

  padding: 18px;

  border-radius: 14px;

  margin-bottom: 15px;

  box-shadow:

    0 5px 15px rgba(0, 0, 0, .06);

  transition: .2s;

}

.kanban-card:hover {

  transform: translateY(-3px);

}

.kanban-card h4 {

  margin: 0 0 10px;

  font-size: 16px;

}

.kanban-card p {

  font-size: 13px;

  color: #64748b;

}

.task-meta span {

  display: inline-block;

  margin-top: 10px;

  background: #dbeafe;

  color: #2563eb;

  padding: 5px 10px;

  border-radius: 20px;

  font-size: 12px;

}

/* =========================
 TASK DETAIL
========================= */

.task-detail {

  width: 100%;

}

.task-header {

  background: white;

  padding: 35px;

  border-radius: 20px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  box-shadow:
    0 8px 25px rgba(0, 0, 0, .06);

}

.task-header h1 {

  font-size: 32px;

  margin: 0 0 10px;

}

.task-header p {

  color: #64748b;

}

.task-info-grid {

  display: grid;

  grid-template-columns:

    repeat(4, 1fr);

  gap: 20px;

  margin: 25px 0;

}

.task-info-grid div {

  background: white;

  padding: 20px;

  border-radius: 16px;

  box-shadow:
    0 5px 20px rgba(0, 0, 0, .05);

}

.task-info-grid label {

  display: block;

  color: #64748b;

  font-size: 13px;

  margin-bottom: 8px;

}

.task-content {

  display: grid;

  grid-template-columns:

    2fr 1fr;

  gap: 25px;

}

.task-section {

  background: white;

  padding: 25px;

  border-radius: 18px;

  box-shadow:
    0 8px 25px rgba(0, 0, 0, .06);

}

.empty-box {

  padding: 30px;

  text-align: center;

  color: #64748b;

  background: #f8fafc;

  border-radius: 12px;

}

.activity-row {

  padding: 15px 0;

  border-bottom:

    1px solid #eee;

  color: #475569;

}